body {
  font-family: "Pangolin";
}

header {
  text-align: center;
}

h1 {
  font-size: 100px;
  margin-bottom: 1px;
}

#imagem {
  margin: auto;
  
  display: block;
  max-width: 100%;
  width: auto;
  height: 300px;  
  
}

#descricao {
  text-align: center;
}

#informacoes {
  text-align: left;
}

footer {
  margin-top: 20px;
}